* {
  margin: 0;
  box-sizing: border-box;
}

.service_section .swiper-pagination-bullet-active {
  background: rgba(255, 255, 0, 0.847) !important;
  font-weight: 400;
}

.client_section .swiper-pagination-bullet-active {
  background: #fff !important;
  font-weight: 400;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 2.5rem;
}

.gallery_section {
  display: grid;
  grid-template-areas:
    "a b c"
    "a e f"
    "d e g"
    "d h i";
  gap: 2rem;
}

.gallery_section_card:first-child {
  grid-area: a;
}
.gallery_section_card:nth-child(2) {
  grid-area: b;
}
.gallery_section_card:nth-child(3) {
  grid-area: c;
}
.gallery_section_card:nth-child(4) {
  grid-area: d;
}
.gallery_section_card:nth-child(5) {
  grid-area: e;
}
.gallery_section_card:nth-child(6) {
  grid-area: f;
}
.gallery_section_card:nth-child(7) {
  grid-area: g;
}
.gallery_section_card:nth-child(8) {
  grid-area: h;
}
.gallery_section_card:nth-child(9) {
  grid-area: i;
}

@media (max-width: 640px) {
  .gallery_section {
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c"
      "d d d"
      "e e e"
      "f f f"
      "g g g"
      "h h h"
      "i i i";
  }
}
